/* @override 
	http://practicalplants.local/forum/themes/practicalplants/design/masthead.css
	http://practicalplants.local/resources/css/masthead.css */

/* ========== Practical Plants Masthead =============*/
nav#masthead{

	display: block;
	
	text-align: left;
	
	background-color: #009900;
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(0,144,0)), to(rgb(0,164,0)));
	background: -webkit-linear-gradient(top left 90deg, rgb(0,144,0) 0%, rgb(0,164,0) 100%);
	background: -moz-linear-gradient(top left 90deg, rgb(0,144,0) 0%, rgb(0,164,0) 100%);
	background: -o-linear-gradient(top left 90deg, rgb(0,144,0) 0%, rgb(0,164,0) 100%);
	background: -ms-linear-gradient(top left 90deg, rgb(0,144,0) 0%, rgb(0,164,0) 100%);
	background: linear-gradient(top left 90deg, rgb(0,144,0) 0%, rgb(0,164,0) 100%);
	
	height: 58px;
	border-bottom: 1px solid #838276;
	
	font-family: CreteRoundRegular;
	
	/*z-index: 9;*/
}
nav#masthead em,
#masthead ul,
#masthead li,
#masthead h1, #masthead h2, #masthead h3, #masthead h4, #masthead h5, #masthead h6,
#masthead a{
	padding: 0;
	margin: 0;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}


#logo{
	position: absolute;
	left: 40px;
	top: 7px;
	z-index: 10;
}
#logo #logo-image{
	display: inline-block;
	vertical-align: middle;
	width: 46px;
	height: 47px;
	background: url(../images/logo.png);
	margin: -2px 10px 0 0;
}
#logo h1{
	display: inline-block;
	vertical-align: middle;
	font-family: CreteRoundRegular;
	font-weight: normal;
	font-size: 24px;
	color: #fff;
	text-align: center;
	margin: -2px 0 0 0;
	padding: 0;
}
#logo h1 a{
	color: #fff;
	text-decoration: none;
	font-weight: normal;
}
#logo h1 em{
	/*font-style: italic;*/
	font-family: CreteRoundItalic;
}
#masthead ul.tabs{
	display: block;
	margin-left: 300px;
	margin-right: 300px;
	height: 58px;
	text-align: center;
}
#masthead ul.tabs li{
	display: inline-block;
	margin-top: 14px;
	height: 45px;
}

#masthead ul.tabs li a{
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	font-size: 18px;
	font-family: CreteRoundRegular;
	margin-top: 0px;
	padding: 5px 12px 6px 12px;
}
#masthead ul.tabs li a:hover{
	text-decoration: none;
}
#masthead ul.tabs li:hover{
	background: rgba(255,255,255,0.3);
	/*color: #009900;*/
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-o-border-radius: 5px 5px 0 0;
	-ms-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
#masthead ul.tabs li.active{
	
	/*color: #009900;*/
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-o-border-radius: 5px 5px 0 0;
	-ms-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	
	background: rgb(236,158,0);
}


#masthead #wiki-search{
	/*display: none;*/
	/*display: inline-block;*/
	/*position: absolute;
	top: 2px;
	right: 0;*/
	position: absolute;
	top: 0px;
	right: 10px;
	height: 58px;
	line-height: 58px;
}
#masthead #wiki-search h5{
	display: none;
}
#masthead #wiki-search input.search-field{
	width: 250px;
	margin-right: 5px;
	padding: 3px;
	outline: none;
	
	font-size: 14px;
	
	font-family: CreteRoundRegular;
	
	border: 1px solid rgba(255,255,255,0.5);

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ie-border-radius: 5px;
	border-radius: 5px;

}
#mw-searchButton,
#searchGoButton{
	display: none;
}
.masthead-submenu{
	background-color: #ea9800;
	text-shadow: none;
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(236,158,0)), to(rgb(224,102,0)));
	background: -webkit-linear-gradient( -90deg, rgb(236,158,0) 0%, rgb(224,102,0) 100%);
	background: -moz-linear-gradient(-90deg, rgb(236,158,0) 0%, rgb(224,102,0) 100%);
	background: -ms-linear-gradient( -90deg, rgb(236,158,0) 0%, rgb(224,102,0) 100%);
	background: -o-linear-gradient( -90deg, rgb(236,158,0) 0%, rgb(224,102,0) 100%);
	background: linear-gradient( -90deg, rgb(236,158,0) 0%, rgb(224,102,0) 100%);
	
	/*background: rgb(236,158,0);*/
	    
	
	font-family: CreteRoundRegular;
	
	height: 30px;
}

