/* HTML5 Reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


::-moz-selection{ background: #009900; color:#fff; text-shadow: none; }
::selection { background:#009900; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FFF; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea { color: #000; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-family: CreteRoundRegular, Georgia, sans-serif; }
a, a:active, a:visited { color: #607890;  }
a:hover { color: #036; }

h1{ font-size: 36px; margin: 5px 0 20px 0; }
h2{ font-size: 30px; margin: 5px 0 15px 0; }
h3{ font-size: 26px; margin: 5px 0 10px 0; }
h4{ font-size: 22px; margin: 5px 0 5px 0;}
h5{ font-size: 18px; margin: 0 0 5px 0;}
h6{ font-size: 16px; margin: 0 0 5px 0;	text-decoration: underline; }
h1 em,h2 em,h3 em,h4 em,h5 em,h6 em{
	font-style: normal;
	font-family: CreteRoundItalic;
}
a, a:active, a:hover, a:visited{
	/*color: #009900;*/
	color: rgb(236,80,0);
	/*font-weight: normal;*/
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

a.btn{
	color:#000;
	font-family:CreteRoundRegular;
}
a.btn-success,
a.btn-warning,
a.btn-danger{
	color:#fff;
}


body{
  font-family: Georgia, Times New Roman, Times, serif;
}
#page-wrapper{
  position: relative;
  min-width: 960px;
}
.width-constraint{
  position: relative;
  /*width: 1200px;*/
  margin: 0 auto;
}




/*=================== Sitewide Footer ==================*/

#footer{
  clear:both;
  background: #009900;
  /*background: -webkit-gradient(linear, left top, left bottom, from(rgb(0,144,0)), to(rgb(0,164,0)));
  background: -webkit-linear-gradient(top left 90deg, rgb(0,144,0) 0%, rgb(0,164,0) 100%);
  background: -moz-linear-gradient(top left 90deg, rgb(0,144,0) 0%, rgb(0,164,0) 100%);
  background: -o-linear-gradient(top left 90deg, rgb(0,144,0) 0%, rgb(0,164,0) 100%);
  background: -ms-linear-gradient(top left 90deg, rgb(0,144,0) 0%, rgb(0,164,0) 100%);
  background: linear-gradient(top left 90deg, rgb(0,144,0) 0%, rgb(0,164,0) 100%);*/
  
  border-top: 1px solid #838276;
  color: #fff;
  padding: 10px;
  font-family: CreteRoundRegular;
}
#footer a{
  color: #fff;
  text-decoration: underline;
}
#footer div.footer-icon{
  display: inline-block;
}
#footer ul{
  
}
#footer ul li{
  
}
#footer{
  text-align: center;
}
#footer .footer-column{
  text-align: left;
  padding: 10px;
  display: inline-block;
  vertical-align:top;
}
#footer .footer-column h3{
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 7px;
  
}
#footer #footer-about{
  width: 250px;
  margin-right: 10px;
}
#footer #footer-thanks{
  width: 350px;
}
#footer #footer-others{
  width: 300px;
}
#footer #footer-thanks .thanks-to{
  clear: left;
  margin-bottom: 7px;
}
#footer #footer-thanks .thanks-to a.thanks-logo{
  float:left;
  width: 50px;
  height: 40px;
  background: url(../images/thanks-icons.png);
}
#footer #footer-thanks .thanks-to#thanks-tinymighty a.thanks-logo{
  
}
#footer #footer-thanks .thanks-to#thanks-pfaf a.thanks-logo{
  background-position: 0 -80px;
}
#footer #footer-thanks .thanks-to#thanks-biowikifarm a.thanks-logo{
  background-position: 0 -120px;
}
#footer #footer-thanks .thanks-to#thanks-cernunnos a.thanks-logo{
  background:none;
}
#footer #footer-thanks .thanks-to#thanks-mediawiki a.thanks-logo{
  background-position: 0 -40px;
}
#footer #footer-thanks .thanks-to a.thanks-logo img{
}
#footer #footer-thanks .thanks-to h4,
#footer #footer-thanks .thanks-to p{
  margin-left: 55px;
}
#footer #footer-docs{
  margin-bottom: 30px;
}
#footer #footer-docs ul{
  list-style: bullet;
  margin-left: 15px;
}
#footer #footer-info ul{
  list-style: none;
  padding: 0;
  margin: 0;
}